# Application
CHIMEBUDDY_ENV=development
CHIMEBUDDY_DATABASE_PATH=var/chimebuddy-v2.db
CHIMEBUDDY_LOG_LEVEL=INFO

# Twitch application credentials
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=

# New ChimeBuddy Discord administration bot
DISCORD_TOKEN=
DEVELOPER_DISCORD_USER_ID=
DISCORD_GUILD_ID=