# Virtual environment
.venv/

# Environment variables
.env

# Python cache
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Data
database/
*.db
*.db-shm
*.db-wal
*.egg-info/
old files/