# Virtual environment
.venv/
.tio.tokens.json

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/
bundle.py

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Data
data/project_context.md
data/triggers.json
data/config.json
data/pin_states.json
tools/get_ids.py
tools/make_env.py